@import url("./root.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background-color: var(--color-bg-auth);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login_container,
.register_container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.login_container > p,
.register_container > p {
  margin-top: 15px;
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
}
.login_form,
.register_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: var(--shadow-auth-form-dark);
  padding: 2rem;
  width: 100%;
  max-width: 500px;
  text-align: center;
}
.login_container > h1,
.register_container > h1 {
  text-align: center;
  color: var(--color-text-dark);
  font-size: 2rem;
  margin-bottom: 20px;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin-bottom: 1rem;
  border: 1px solid var(--color-border-auth);
  border-radius: 5px;
  font-size: 12px;
  box-sizing: border-box;
  background-color: var(--color-bg-auth);
  font-family: "Yekan", sans-serif;
}

.register_form input[type="text"]:focus,
.register_form input[type="password"]:focus {
  outline: none;
  border: 1px solid var(--color-primary);
  box-shadow: 0px 0px 5px var(--color-primary);
}

.register_form button[type="submit"] {
  width: 100%;
  padding: 15px;
  font-family: "Yekan", sans-serif;
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: var(--color-primary);
}
.register_form button[type="submit"]:hover {
  background-color: var(--color-primary-dark);
}

.register_container a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 600;
}

.login_form input[type="text"]:focus,
.login_form input[type="password"]:focus {
  box-shadow: var(--shadow-auth-form);
  outline: none;
  border: 1px solid var(--color-success);
}

.login_form button[type="submit"] {
  width: 100%;
  padding: 15px;
  font-family: "Yekan", sans-serif;
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: var(--color-success);
}
.login_form button[type="submit"]:hover {
  background-color: var(--color-success);
}

.login_container a {
  text-decoration: none;
  font-weight: 600;
  color: var(--color-success);
}
/* notification */
#notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: var(--color-success); /* رنگ سبز برای موفقیت */
  color: var(--color-white);
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  z-index: 1000;
  box-shadow: var(--shadow-notification);
}

#notification.show {
  display: block;
}
#notification.hidden {
  display: none;
}
#notification.error {
  background-color: var(--color-error); /* رنگ قرمز برای خطاها */
}

@media screen and (max-width: 834px) {
  .login_container,
  .register_container {
    width: 100%;
  }
}
